Repository Alrudin/Splunk_auto_doc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, eslint, prettier, vitest

pytest:
  name: pytest
  entry: bash -c 'cd backend && pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - commit

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - commit

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false
  stages:
  - commit

vitest:
  name: vitest
  entry: bash -c 'cd frontend && npm run test -- --run'
  language: system
  pass_filenames: false
  stages:
  - commit

Fix B904 exception chaining errors in uploads.py
  backend/app/api/v1/uploads.py
Due: pytest

Fix B904 exception chaining error in test_basic.py
  backend/tests/test_basic.py
Due: pytest

Fix exception chaining in upload file endpoint
  backend/app/api/v1/uploads.py
Due: pytest

Fix pre-commit issues: pytest passing, ruff fixed, mypy improved
  .pre-commit-config.yaml
  README.md
  TESTING.md
  UPLOAD_TEST_SUMMARY.md
  backend/alembic/env.py
  backend/alembic/versions/001_initial_schema.py
  backend/app/api/v1/health.py
  backend/app/api/v1/runs.py
  backend/app/api/v1/uploads.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/core/logging.py
  backend/app/core/middleware.py
  backend/app/storage/local.py
  backend/app/storage/s3.py
  backend/debug_models.py
  backend/examples/logging_demo.py
  backend/mock_server.py
  backend/scripts/test_migration.py
  backend/tests/conftest.py
  backend/tests/test_api_endpoints.py
  backend/tests/test_basic.py
  backend/tests/test_error_handling.py
  backend/tests/test_health.py
  backend/tests/test_health_v1.py
  backend/tests/test_logging.py
  backend/tests/test_models.py
  backend/tests/test_runs.py
  backend/tests/test_schemas.py
  backend/tests/test_storage.py
  backend/tests/test_uploads.py
  backend/tests/validate_tests.py
  frontend/src/test/HomePage.test.tsx
  frontend/src/test/MainLayout.test.tsx
  frontend/src/test/Navigation.test.tsx
  pyproject.toml
Due: pytest, eslint, prettier

Test: verify pre-commit hooks are working
  README.md
Due: none

fixed docker build errors
  backend/Dockerfile
  pyproject.toml
Due: none

fixed package-lock issue
  .pre-commit-config.yaml
  frontend/package-lock.json
  package-lock.json
Due: prettier

pre commit changes to support prettier for frontend
  .pre-commit-config.yaml
Due: none

fixed ruff error
  backend/alembic/versions/001_initial_schema.py
  backend/tests/test_logging.py
Due: pytest

fixed prettier error
  frontend/src/test/Navigation.test.tsx
Due: eslint, prettier

fiixed type error
  backend/app/storage/s3.py
Due: pytest

fixed gitignore
  .gitignore
Due: none

Fixed db issue
  backend/test_debug.py
  backend/tests/conftest.py
  backend/tests/test_runs.py
  backend/tests/test_runs_fixed.py
  backend/tests/test_simple_debug.py
Due: pytest

further db fixes
  backend/tests/conftest.py
  backend/tests/ensure_models.py
  backend/tests/test_database_setup.py
  backend/tests/test_runs.py
  backend/tests/test_uploads.py
Due: pytest

linter check fixed
  backend/tests/test_database_setup.py
Due: pytest

lint error
  backend/tests/test_database_setup.py
Due: pytest

format error in ruff
  .pre-commit-config.yaml
Due: none

fix checks to align with CI
  .pre-commit-config.yaml
Due: none

precommit changed
  .pre-commit-config.yaml
Due: none

fixed issues with ruff format
  .pre-commit-config.yaml
  backend/tests/test_database_setup.py
Due: pytest

fixed pre commit
  .pre-commit-config.yaml
Due: none

removed ruff check
  .pre-commit-config.yaml
  backend/tests/test_database_setup.py
Due: pytest

fixed lint issues
  backend/app/api/v1/health.py
  backend/app/health.py
  backend/scripts/wait_for_db.py
  backend/tests/test_db_readiness.py
Due: pytest

fixing commit issues
  .github/workflows/backend-ci.yml
  CONTRIBUTING.md
  backend/scripts/wait-for-db.sh
  docs/adr/ADR-001-core-stack.md
  docs/db-readiness.md
  test-db-readiness.sh
Due: none

Fixed testb fail
  backend/tests/test_health.py
Due: pytest

fixed lint error
  backend/tests/test_health.py
Due: pytest

fixed lint errors
  backend/app/api/v1/uploads.py
  backend/tests/test_upload_streaming.py
Due: pytest

fixed type issues
  .pre-commit-config.yaml
  backend/app/api/v1/uploads.py
  backend/app/storage/s3.py
  pyproject.toml
Due: pytest

fix lint error
  backend/app/api/v1/uploads.py
Due: pytest

fixed imports in dev
  pyproject.toml
Due: none

Added milestone 2 plan and gap analysis
  notes/milestone-2-gap-analysis.md
  notes/milestone-2-plan.md
Due: none

Fix mypy type checking errors in database types and alembic migrations
  .pre-commit-config.yaml
  MILESTONE_1_COMPLETION.md
  MILESTONE_2_MIGRATION_VERIFICATION.md
  backend/alembic/versions/002_stanzas_and_typed.py
  backend/alembic/versions/003_indexes_and_perf.py
  backend/app/core/types.py
  backend/app/models/index.py
  backend/app/models/input.py
  backend/app/models/output.py
  backend/app/models/props.py
  backend/app/models/serverclass.py
  backend/app/models/stanza.py
  backend/app/models/transform.py
  backend/tests/test_database_setup.py
  docs/memory-safe-uploads.md
  notes/milestone-1-gap-analysis.md
Due: pytest

ruff format fix
  backend/alembic/versions/002_stanzas_and_typed.py
  backend/alembic/versions/003_indexes_and_perf.py
  backend/app/models/props.py
  backend/app/models/serverclass.py
Due: pytest

ruff fix
  backend/tests/test_database_setup.py
Due: pytest

fixing pre commits to work around versions issue
  .pre-commit-config.yaml
Due: none

fix ruff finally
  backend/tests/test_database_setup.py
Due: pytest

Updated milestone gap
  notes/milestone-2-gap-analysis.md
Due: none

Update milestone-2-gap-analysis.md with new content
  notes/milestone-2-gap-analysis.md
Due: none

Fixed ruff version issue
  .pre-commit-config.yaml
Due: none

Updates ruff in pyproject.toml
  pyproject.toml
Due: none

Path conditions:
  pytest: any of: ^backend/ and \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  vitest: any of: ^frontend/ and \.(ts|mts|cts)$ and \.tsx$
