Repository Alrudin/Splunk_auto_doc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, eslint, prettier, vitest

pytest:
  name: pytest
  entry: bash -c "if command -v pytest >/dev/null 2>&1; then cd backend && pytest -m \"not database\" tests/ -v --tb=short; else echo pytest not installed, skipping; fi"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint
  entry: bash -c "if [ -d frontend/node_modules ]; then cd frontend && npm run lint; else echo Frontend dependencies not installed - skipping eslint; fi"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: prettier
  entry: bash -c "if [ -d frontend/node_modules ]; then cd frontend && npm run format:check; else echo Frontend dependencies not installed - skipping prettier; fi"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

vitest:
  name: vitest
  entry: bash -c "if [ -d frontend/node_modules ]; then cd frontend && npm run test -- --run; else echo Frontend dependencies not installed - skipping vitest; fi"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Changed ruff version
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fixed ruff errors
  backend/app/parser/core.py
  backend/app/parser/exceptions.py
  backend/app/parser/types.py
  backend/tests/parser/demo_parser.py
  backend/tests/parser/test_golden_fixtures.py
  backend/tests/parser/test_parser_core.py
Due: pytest

firxed ruff
  backend/app/projections/demo.py
  backend/tests/projections/test_input_projector.py
  backend/tests/projections/test_input_projector_integration.py
Due: pytest

firxed mypy errors
  backend/app/projections/demo.py
Due: pytest

firxed ruff errors
  backend/tests/projections/test_transform_projector.py
  backend/tests/projections/test_transform_projector_integration.py
Due: pytest

fixed ruff
  backend/tests/projections/test_index_projector_integration.py
Due: pytest

fixed ruff
  backend/tests/projections/test_serverclass_projector.py
  backend/tests/projections/test_serverclass_projector_integration.py
Due: pytest

fixed mypy errors
  backend/app/projections/serverclasses.py
Due: pytest

fixed ruff errors
  backend/app/projections/outputs.py
  backend/tests/projections/test_output_projector.py
  backend/tests/projections/test_output_projector_integration.py
  backend/tests/verify_output_projector.py
Due: pytest

fixed ruff errors
  backend/tests/projections/test_props_projector.py
  backend/tests/projections/test_props_projector_integration.py
Due: pytest

fixed so will pass tests now
  backend/app/projections/props.py
Due: pytest

fixed new formart error
  backend/app/projections/props.py
Due: pytest

update of milestone 2 gap analysis
  notes/milestone-2-gap-analysis.md
Due: none

fixed format problem
  notes/milestone-2-gap-analysis.md
Due: none

ruff errors fixed
  backend/app/api/v1/worker.py
  backend/app/core/config.py
  backend/app/worker/tasks.py
  backend/tests/test_worker_integration.py
Due: pytest

fixed type errors
  pyproject.toml
Due: none

fixed tests
  backend/tests/test_worker_integration.py
Due: pytest

fixed ruff
  backend/tests/test_worker_integration.py
Due: pytest

Fixed mypy and ruff errors
  pyproject.toml
Due: none

fixed ruff and mypy errors
  backend/alembic/versions/005_add_retry_tracking.py
  backend/app/api/v1/worker.py
  backend/app/models/ingestion_run.py
  backend/app/schemas/ingestion_run.py
  backend/app/worker/tasks.py
  backend/tests/test_retry_failure_handling.py
Due: pytest

Fix tests to work
  backend/tests/test_retry_failure_handling.py
Due: pytest

ruff error fixed
  backend/tests/test_retry_failure_handling.py
Due: pytest

Fixed the files so checks are passed
  backend/app/projections/__init__.py
  backend/app/worker/tasks.py
  backend/tests/test_normalization_pipeline.py
Due: pytest

Updated milestome gap analysis
  notes/milestone-2-gap-analysis.md
Due: none

fixed lint and type errors
  backend/app/api/v1/runs.py
  backend/app/models/ingestion_run.py
  backend/app/schemas/ingestion_run.py
  backend/app/worker/tasks.py
  backend/tests/test_status_lifecycle.py
  backend/tests/test_status_lifecycle_integration.py
  backend/tests/test_worker_integration.py
Due: pytest

fixed test errors
  backend/tests/test_status_lifecycle_integration.py
Due: pytest

linting fixed
  backend/app/api/v1/runs.py
  backend/app/schemas/index.py
  backend/app/schemas/input.py
  backend/app/schemas/output.py
  backend/app/schemas/props.py
  backend/app/schemas/serverclass.py
  backend/app/schemas/transform.py
  backend/tests/test_typed_listings.py
Due: pytest

ruff error fixed
  backend/tests/test_typed_listings.py
Due: pytest

fixed ruff errors
  backend/tests/test_api_endpoints.py
Due: pytest

fixed lint and test errors
  backend/app/api/v1/runs.py
  backend/tests/test_parse_trigger.py
Due: pytest

fixed type error
  backend/app/api/v1/runs.py
Due: pytest

fixed ruff error
  backend/app/api/v1/runs.py
Due: pytest

updated milestone 2 gap analysis
  notes/milestone-2-gap-analysis.md
Due: none

fixed errors in formating
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/RunDetailPage.tsx
  frontend/src/test/RunDetailPage.test.tsx
Due: eslint, prettier, vitest

fixed errors in formatiung
  frontend/src/pages/RunDetailPage.tsx
Due: eslint, prettier, vitest

fixed formatting
  frontend/src/pages/RunDetailPage.tsx
Due: eslint, prettier, vitest

first commit
  README.md
Due: none

chore: install dependencies for data_lineage visualization
  .gitignore
  docker-compose.yml
  splunk_data_lineage/appserver/static/visualizations/data_lineage/formatter.html
  splunk_data_lineage/appserver/static/visualizations/data_lineage/package-lock.json
  splunk_data_lineage/appserver/static/visualizations/data_lineage/package.json
  splunk_data_lineage/appserver/static/visualizations/data_lineage/src/visualization.js
  splunk_data_lineage/appserver/static/visualizations/data_lineage/visualization.js
  splunk_data_lineage/appserver/static/visualizations/data_lineage/webpack.config.js
  splunk_data_lineage/default/app.conf
  splunk_data_lineage/default/data/ui/views/lineage_overview.xml
  splunk_data_lineage/default/savedsearches.conf
  splunk_data_lineage/default/visualizations.conf
  splunk_data_lineage_overview.md
  splunk_data_lineage_roadmap.pdf
Due: none

feat: update data lineage visualization with edge labels and expand Splunk infrastructure configuration.
  docker-compose.yml
  splunk_config/hf_app/default/inputs.conf
  splunk_config/hf_app/default/outputs.conf
  splunk_config/sh_idx_app/default/indexes.conf
  splunk_config/sh_idx_app/default/inputs.conf
  splunk_config/uf1_app/default/inputs.conf
  splunk_config/uf1_app/default/outputs.conf
  splunk_config/uf2_app/default/inputs.conf
  splunk_config/uf2_app/default/outputs.conf
  splunk_config/uf3_app/default/inputs.conf
  splunk_config/uf3_app/default/outputs.conf
  splunk_config/uf4_app/default/inputs.conf
  splunk_config/uf4_app/default/outputs.conf
  splunk_data_lineage/appserver/static/visualizations/data_lineage/src/visualization.js
  splunk_data_lineage/appserver/static/visualizations/data_lineage/visualization.js
  splunk_data_lineage/default/savedsearches.conf
  splunk_data_lineage/local/savedsearches.conf
  splunk_data_lineage/metadata/local.meta
Due: none

feat: enhance data lineage visualization with node classification, improved D3 force layout, and styled labels
  splunk_data_lineage/appserver/static/visualizations/data_lineage/src/visualization.js
  splunk_data_lineage/appserver/static/visualizations/data_lineage/visualization.js
  splunk_data_lineage/default/data/ui/views/lineage_overview.xml
  splunk_data_lineage/default/savedsearches.conf
Due: none

Path conditions:
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  vitest: any of: ^frontend/.*\.(ts|tsx)$
